@import 'core/normalize';
@import 'core/variables';
@import 'components/animations';


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 10px;
}

a {

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;

    .footer & {
      color: white;

      &:hover {
        font-size: 2rem;
      }
    }
  }
}

// HEADER
@import 'layouts/header';
// HERO
@import 'layouts/hero';

@import 'layouts/window';

@import 'layouts/reasons';
// FOOTER
@import 'layouts/footer';
