@import 'core/normalize';
@import 'core/variables';


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}

a {

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

// HEADER
@import 'layouts/header';
// HERO
@import 'layouts/hero';

@import 'layouts/window';

@import 'layouts/reasons';
// FOOTER
@import 'layouts/footer';
