<footer class="footer">
  <a class="footer__button" href="#top" title="Vuelve al inicio"><img src="./assets/images/ico-arrow.svg"
      alt="Botón para volver al inicio de la página">
  </a>
  <div class="footer__menu">
    <nav class="footer__menu--websites">
      <ul>
        <li><a href="https://www.eljueves.es/" target="_black" title="Lee nuestras últimas novedades">Articles</a></li>
        <li><a href="https://www.amazon.es/" target="_blanck" title="Compra nuestros libros">Books</a></li>
        <li><a href="https://www.meetup.com/es-ES/" target="_blank" title="Asiste a nuestros eventos">Events</a></li>
        <li><a href="#3reasons" title="¿Por qué comprarnos?">Reasons</a></li>
        <li><a href="https://www.ascodevida.com/" title="¡Lee nuestos consejos!" target="_blank">Tips</a></li>
      </ul>
    </nav>
    <nav class="footer__menu--social">
      <ul>
        <li><a href="https://twitter.com/Beatrizsobri" target="_blank" title="Conócemos en Twitter">Twitter</a></li>
        <li><a href="https://www.instagram.com/?hl=es" target="_blank" title="Visita nuestro Instagram">Instagram</a>
        </li>
        <li><a href="https://mastodon.social/about" target="_blank" title="Siguenos en Mastodon">Mastodon.social</a>
        </li>
      </ul>
    </nav>
    <aside class="footer__menu--copy">
      <p> &copy 2019</p>
      <p>We <span class="footer__menu--copy--typeface">&#10084</span> components</p>
    </aside>
  </div>
</footer>
