<footer>
  <a href="./index.html#top" title="Vuelve al inicio"><img src="./assets/images/ico-arrow.svg"
      alt="Botón para volver al inicio de la página"></div>
  </a>
  <nav>
    <ul>
      <li><a href="https://www.eljueves.es/" target="_black" title="Lee nuestras últimas novedades">Articles</a></li>
      <li><a href="https://www.amazon.es/" target="_blanck" title="Compra nuestros libros">Books</a></li>
      <li><a href="https://www.meetup.com/es-ES/" target="_blank" title="Asiste a nuestros eventos">Events</a></li>
      <li><a href="./index.html#3reasons" title="¿Por qué comprarnos?">Reasons</a></li>
      <li><a href="">Tips</a></li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li><a href="https://twitter.com/Beatrizsobri" target="_blank" title="Conócemos en Twitter">Twitter</a></li>
      <li><a href="https://www.instagram.com/?hl=es" target="_blank" title="Visita nuestro Instagram">Instagram</a></li>
      <li><a href="https://mastodon.social/about" target="_blank" title="Siguenos en Mastodon">Mastodon.social</a></li>
    </ul>
  </nav>
  <aside>
    <p> &copy 2019</p>
    <p>We <span>&#10084</span> components</p>
  </aside>
  </div>
</footer>
