<section id="3reasons" class="reasons">
  <h2 class="reasons__title">3 reasons to purchase</h1>
    <div class="reasons__article__container">
      <article class="reasons__article">
        <h3 class="reasons__article__title">Ut sed metus</h3>
        <p class="reasons__article__text">Lorem ipsum dolor sit amet, consecteur.</p>
      </article>
      <article class="reasons__article">
        <h3 class="reasons__article__title">Curabitur ac erat</h3>
        <p class="reasons__article__text">Mauris mattis urna quis lorem molestie.</p>
      </article>
      <article class="reasons__article">
        <h3 class="reasons__article__title">Morbi dictum</h3>
        <p class="reasons__article__text">Aliquam in dolor et dolor tincidunt.</p>
      </article>
    </div>
    <a class="reasons__button" href="https://www.ascodevida.com/" target="_blank"
      title="¿Necesitas más razones? ¡Visítanos!"><span class="reasons__button--text">More
        reasons</span></a>
</section>
