<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>Evaluación final Beatriz Sobrino</title>
  <link rel="icon" href="./favicon.png" />
  <link rel="stylesheet" href="./assets/css/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik&display=swap" rel="stylesheet" /> -->
</head>

<body>
  <partial src="_header.html" label="Header"></partial>
  <main>
    <header>
      <h1>Anonymous proxy</h1>
      <p>In hac habitasse platea dictumst</p>
      <div>
        <img src="./assets/images/ico-scroll-down.svg" alt="">
      </div>
    </header>
    <section>
      <aside>insomnia tips</aside>
      <h2>Looking through a window</h1>
        <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
          semper sodales rutrum.</p>
        <button>Go</button>
    </section>
    <section>
      <h2>3 reasons to purchase</h1>
        <div>
          <div>
            <h3>Ut sed metus</h3>
            <p>Lorem ipsum dolor sit amet, consecteur.</p>
          </div>
          <div>
            <h3>Curabitur ac erat</h3>
            <p>Mauris mattis urna quis lorem molestie.</p>
          </div>
          <div>
            <h3>Morbi dictum</h3>
            <p>Aliquam in dolor et dolor tincidunt.</p>
          </div>
        </div>
        <button>More reasons</button>
    </section>
  </main>
  <footer>
    <div><img src="./assets/images/ico-arrow.svg" alt=""></div>
    <div>
      <nav>
        <ul>
          <li>Articles</li>
          <li>Books</li>
          <li>Events</li>
          <li>Reasons</li>
          <li>Tips</li>
        </ul>
      </nav>
      <nav>
        <ul>
          <li>Twitter</li>
          <li>Instagram</li>
          <li>Mastodon.social</li>
        </ul>
      </nav>
      <aside>
        <p> &copy 2019</p>
        <p>We <span>&#10084</span> components</p>
      </aside>
    </div>
  </footer>
</body>

</html>
