.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #304268;
  text-align: center;

  &__button {
    height: 4.5rem;
    width: 4.5rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0rem 0.2rem 0.4rem 0rem rgba(0, 0, 0, 0.5);
    animation-name: top;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  &__menu {
    margin: 1.5rem 0rem 4.5rem 0rem;
    text-align: center;

    &--websites,
    &--social {
      font-family: Roboto;
      font-size: 1.6rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      text-transform: uppercase;
    }

    &--social {
      padding: 3rem;
    }


    &--copy {
      color: white;
      font-size: 1.4rem;
      font-family: Roboto;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.14;
      letter-spacing: normal;
      text-transform: lowercase;

      &--typeface {
        color: #f26002;
      }
    }
  }
}

@media all and (min-width:768px) {
  .footer {
    &__menu {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: space-between;
      text-align: left;
      width: 100%;
      margin: 0rem;
      padding: 0rem 3.9rem 4.5rem 3.9rem;

      &--websites {
        order: 2;
      }

      &--social {
        order: 1;
        padding: 0px;
      }

      &--copy {
        order: 3;
      }

    }
  }
}

@media all and (min-width:1200px) {
  .footer {
    &__menu {
      padding: 0rem 37rem 4.5rem 37rem;
    }
  }
}

@keyframes top {
  from {
    background: #eca172;
  }

  50% {
    background: white;
  }

  to {
    background: #eca172;
  }


}
