.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;

  &__menu {
    height: 4.4rem;
    width: 4.4rem;
    background: #0271bc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
