.header {
  position: fixed;
  z-index: 1;

  &__menu {
    height: 4.4rem;
    width: 4.4rem;
    background: $headerBackground;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
