.hero {
  // border: #fabada solid;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
  padding: 15px;

  &__title {
    font-size: 42px;
    line-height: 55px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-bottom: 10px;
    margin: 0px;
    font-family: Robotoslab;
    font-weight: bold;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-transform: uppercase;
    max-width: 730px;
  }

  &__text {
    font-size: 16px;
    font-family: Roboto;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    padding-bottom: 45px;
  }

  &__button {
    background: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 53px;
    animation-name: scroll;
    animation-duration: 5s;
    animation-iteration-count: initial;


    &--arrow {
      color: #f26002;
      text-align: center;
      object-fit: contain;
      //   padding: 15.3px;
      //   background: white;
      //   border-radius: 50%;
    }
  }
}

@media all and (min-width:768px) {
  .hero__title {
    font-size: 80px;
    line-height: 1.33;
    padding-bottom: 20px;
  }

  .hero__text {
    font-size: 24px;
    padding-bottom: 30px;
  }

  .hero__button {
    margin-bottom: 45px;
  }
}

@media all and (min-width:1200px) {
  .hero__title {
    font-size: 100px;
    line-height: 1.32;
    padding-bottom: 0px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

  }

  .hero__button {
    margin-bottom: 13px;
  }
}

@keyframes scroll {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
