.hero {
  background-image: url(../images/cover.jpg);
  background-size: 100% 100%;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: $textColor;
  padding: 1.5rem;
  animation-name: background;
  animation-duration: 5s;
  animation-iteration-count: initial;


  &__title {
    font-size: 4.2rem;
    line-height: 5.5rem;
    text-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-bottom: 1rem;
    margin: 0rem;
    font-family: $fontTitle;
    font-weight: bold;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-transform: uppercase;
    max-width: 29rem;
  }

  &__text {
    font-size: 1.6rem;
    font-family: $fontText;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    padding-bottom: 4.5rem;
  }

  &__button {
    background: white;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.3rem;
    animation-name: scroll;
    animation-duration: 5s;
    animation-iteration-count: initial;


    &--arrow {
      color: $buttonColor;
      text-align: center;
      object-fit: contain;
    }
  }
}

@media all and (min-width:768px) {
  .hero__title {
    font-size: 8rem;
    line-height: 1.33;
    padding-bottom: 2rem;
    max-width: 79rem;
  }

  .hero__text {
    font-size: 2.4rem;
    padding-bottom: 3rem;
  }

  .hero__button {
    margin-bottom: 4.5rem;
  }
}

@media all and (min-width:1280px) {
  .hero__title {
    font-size: 10rem;
    line-height: 1.32;
    padding-bottom: 0rem;
    text-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.5);

  }

  .hero__button {
    margin-bottom: 1.3rem;
  }
}
