.reasons {
  background: #eff9ff;
  padding: 3rem 1.5rem 6rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: $fontPrimary;
    font-size: 2.4rem;
    font-family: $fontTitle;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-transform: capitalize;
  }



  &__article {
    &__container {
      display: grid;
      grid-template-columns: 18rem;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 4.5rem;
      text-align: center;
      padding: 4.5rem 0rem;
    }

    &__title {
      font-family: $fontTitle;
      font-size: 1.8rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
    }

    &__text {
      font-family: $fontText;
      font-size: 1.8rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      color: $fontPrimary;
    }
  }

  &__button {
    width: 18.4rem;
    height: 4.5rem;
    background: $buttonColor;
    border-radius: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 1s;

    &:hover {
      box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.4);
    }

    &--text {
      font-family: $fontButton;
      font-size: 2rem;
      font-weight: 500;
      color: $textColor;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.25;
      letter-spacing: normal;
      text-align: center;
    }
  }
}


@media all and (min-width:768px) {
  .reasons {
    padding: 3rem 4rem 6rem 3.57rem;

    &__title {
      font-size: 2.6rem;
      line-height: 1.73;
    }

    &__article {
      &__container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 2.77rem;
        padding: 4.5rem 0rem 6rem 0rem;
      }

      &__title {
        font-size: 2.4rem;
        line-height: 1.25;
        padding-bottom: 1.4rem;
      }

      &__text {
        font-size: 2rem;
        line-height: 1.5;
      }
    }

    &__button {
      width: 21rem;


    }

  }
}

@media all and (min-width:1280px) {
  .reasons {
    padding: 6rem 8.5rem 6rem 8.12rem;

    &__title {
      font-size: 3.2rem;
      line-height: 1.41;
    }

    &__article {
      &__container {
        grid-gap: 2.62rem;
        grid-template-columns: repeat(3, 35rem);


      }

      &__title {
        font-size: 2.4rem;
        line-height: 1.25;
        padding-bottom: 1.4rem;
      }

      &__text {
        font-size: 2rem;
        line-height: 1.5;
      }
    }

    &__button {
      width: 25.5rem;
    }

  }
}
