.reasons {
  background: #eff9ff;
  border: #fabada solid 2px;
  padding: 30px 15px 60px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: #000000;
    font-size: 24px;
    font-family: RobotoSlab;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-transform: capitalize;
  }



  &__article {
    &__container {
      display: grid;
      grid-template-columns: 180px;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 45px;
      text-align: center;
      padding: 45px 0px;
    }

    &__title {
      font-family: RobotoSlab;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
    }

    &__text {
      font-family: Roboto;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      color: #000000;
    }
  }

  &__button {
    width: 184px;
    height: 45px;
    background: #f26002;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--text {
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
      color: #ffffff;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.25;
      letter-spacing: normal;
      text-align: center;
    }
  }
}


@media all and (min-width:768px) {
  .reasons {
    padding: 30px 40px 60px 35.7px;

    &__title {
      font-size: 26px;
      line-height: 1.73;
    }

    &__article {
      &__container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 27.7px;
        padding: 45px 0px 60px 0px;
      }

      &__title {
        font-size: 24px;
        line-height: 1.25;
        padding-bottom: 14px;
      }

      &__text {
        font-size: 20px;
        line-height: 1.5;
      }
    }

    &__button {
      width: 210px;


    }

  }
}

@media all and (min-width:1200px) {
  .reasons {
    padding: 60px 85px 60px 81.2px;

    &__title {
      font-size: 32px;
      line-height: 1.41;
    }

    &__article {
      &__container {
        grid-gap: 26.2px;

      }

      &__title {
        font-size: 24px;
        line-height: 1.25;
        padding-bottom: 14px;
      }

      &__text {
        font-size: 20px;
        line-height: 1.5;
      }
    }

    &__button {
      width: 255px;
    }

  }
}
