.window {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 1.5rem 4.5rem 1.5rem;


  &__intro {
    color: $smallColor;
    font-size: 1.4rem;
    line-height: 3rem;
    font-family: $fontText;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    padding-bottom: 0.1rem;
    text-transform: capitalize;
  }

  &__title {
    font-family: $fontTitle;
    font-size: 2.4rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    padding-bottom: 1.5rem;
    color: $fontPrimary;
    text-transform: capitalize;
  }

  &__text {
    color: $fontSecondary;
    font-family: $fontText;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.67;
    padding-bottom: 3rem;
  }

  &__button {
    border: $buttonColor solid 0.2rem;
    height: 4.5rem;
    width: 7.6rem;
    border-radius: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 1s;
    color: $buttonColor;

    &:hover {
      background: $buttonColor;
      color: $textColor;
      box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.4);
    }

    &--text {
      font-weight: 500;
      font-size: 2rem;
      font-family: $fontButton;
      line-height: 2.25;
      text-align: center;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
    }
  }
}

@media all and (min-width:678px) {
  .window {
    padding: 3rem 3.9rem 6rem 3.9rem;

    &__intro {
      padding-bottom: 0rem;
    }

    &__title {
      font-size: 2.6rem;
      line-height: 1.73;
      padding-bottom: 3rem;
    }

    &__text {
      font-size: 2rem;
      line-height: 1.5;
    }

    &__button {
      width: 9.1rem;
    }
  }
}


@media all and (min-width:1200px) {
  .window {
    padding: 6rem 27.5rem;

    &__intro {
      font-size: 1.6rem;
      line-height: 1.41;
    }

    &__title {
      font-size: 3.2rem;
      line-height: 1.25;
    }

    &__button {
      width: 16rem;
    }
  }
}
