$fontPrimary:#000000;
$buttonColor:#f26002;
$smallColor: #8ccbea;
$fontSecondary:#4a4a4a;
$footerBackground:#304268;
$headerBackground:#0271bc;
$textColor: white;
$fontText:'Roboto-Regular';
$fontButton:'Roboto-Medium';
$fontTitle:'RobotoSlab-Bold';
